*{
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper__header{
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__header__text{
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.wrapper__header__text, .wrapper__footer__text > #bgm{
    color: #55b2d4;
    font-weight: 700px;
}

.wrapper__header__text, .wrapper__footer__text > #today_choice{
    font-size: 8px;
    margin-left: 6px;
}

.wrapper__header__line{
    width: 464px;
    border: 1px solid #999999;
    align-self: center;
}

.wrapper__body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper__body__album{
    width: 120px;
    height: 158px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapper__body__album > #title{
    font-size: 11px;
    font-weight: 700;
    color: #0F465E;
    text-align: center;
    
}

.wrapper__body__album > #singer{
    font-size: 10px;
    font-size: 700;
    color: #999999;
    text-align: center;
}


.album__img{
    width: 100%;
    height: 120px;
}


.wrapper__footer{
    height: 500px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

.wrapper__footer__body
{
    
    background-color: red;
}